@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


.services{
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.location{
  background-image: url("https://static.wixstatic.com/media/c601b4_0472939ac12e41d1a53e5254cc127729~mv2.jpg/v1/fill/w_1326,h_575,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c601b4_0472939ac12e41d1a53e5254cc127729~mv2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.location::before{
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.location div{
  z-index: 1;
}

.service{
  transition: scale 0.2s ;
}

.service:hover{
  scale:1.02;
}

.servicebanner{
  background-image: url("https://static.wixstatic.com/media/c601b4_5660b52948884fa3bb5043c677baa869~mv2.png/v1/fill/w_1349,h_275,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/c601b4_5660b52948884fa3bb5043c677baa869~mv2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.servicebanner::before{
  content: " ";
  background-color: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.servicebanner h1{
  z-index: 1;
}